# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Виртуальное окружение
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Логи и временные файлы
*.log
*.csv
!task1/solution/beasts.csv  # Исключаем исходный файл с данными
!task2/solution/beasts.csv  # Исключаем результат работы программы 